<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="http"
                address="http://localhost:8899/Web/xrz"
                binding ="basicHttpBinding"
                contract="WCF_Lib.IStockDao"/>
      <endpoint name="tcp"
                address ="net.tcp://localhost:1010/Tcp/abc"
                binding="netTcpBinding"
                contract="WCF_Lib.IStockDao"/>
    </client>
  </system.serviceModel>
</configuration>